.transition-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .transition-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .show-more.transition-row {
    height: auto;
  }
  
  .show-more.transition-card {
    opacity: 1;
    transform: translateY(0);
  }